<!DOCTYPE html>
<html>
<head>
    <style>
        .header {
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
        }
        .content {
            margin: 20px;
        }
        .footer {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Welcome to Our Service</h1>
</div>
<div class="content">
    <p>Hello,</p>
    <p>Hello Welcome to Bobby's Store The Best Online Store YOu Can Ever Find All Around Lagos</p>
    <p>Thank you for joining our service. We are excited to have you on board.</p>
</div>
<div class="footer">
    <p>&copy; 2024 Your Bobby's Store. All rights reserved.</p>
</div>
</body>
</html>
